<!-- override this partial to add content before the body tag closes -->
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

<script type="text/javascript">
Reveal.addEventListener('slidechanged', function(event) {
    try {
        var video = document.querySelectorAll(".slide-background.future video, .slide-background.present video");
        video.forEach(v => {
            v.currentTime = 0;
        });
    } catch (TypeError) {}
});
</script>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
